<%- include('../partials/header') %>
<a href="/teams/new" <%- title === 'Add Team' ? 'class="active"' : '' %>>ADD TEAM</a>
<ul>
  <% teams.forEach(function(t) { %>
    <li>
      <a href='/teams/<%= t._id %>'><%= t.content %></a>
        <% if (user) { %>
          <form action="/teams/<%= t._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        <% } %>
      
      
    </li>
  <% }); %> 
</ul>




<%- include('../partials/footer') %>