<%- include('../partials/header') %>

<ul>
  <% Players.forEach(function(t) { %>
    <li>
      <%= t.playerName %>
      <li><%= t.points %> Points</li> 
      <li><%= t.rebounds %> Rebounds</li>
      <li><%= t.assists %> Assists</li>
      <form action="/players/<%= t._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
      <a href="/players/edit/<%= t._id %>">Edit</a> 
    </li>
  <% }); %> 
</ul>
  



<%- include('../partials/footer') %>